.version.call /* version checker */
{
	color: #000011;
	background-color: #F71F46;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 676.5904385033504px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 28px;
	width: 0.01px;/* should not cover content below */
}

#pu192
{
	width: 0.01px;
	margin-left: -100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u192,#u192-bw
{
	z-index: 2;
	height: 98px;
}

#u203
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 110px;
}

#u203_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u187-4
{
	z-index: 5;
	width: 132px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 201px;
}

#u196-4
{
	z-index: 9;
	width: 81px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 372px;
}

#u196-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u196-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u189-4
{
	z-index: 13;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 452px;
}

#u189-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u199
{
	z-index: 17;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 452px;
}

#u194-4
{
	z-index: 18;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 539px;
}

#u189-4.MuseLinkActive,#u194-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u194-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u202
{
	z-index: 22;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 539px;
}

#u191-4
{
	z-index: 23;
	width: 103px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 626px;
}

#u191-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u191-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u195
{
	z-index: 27;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 626px;
}

#u186-4
{
	z-index: 28;
	width: 90px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 728px;
}

#u186-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u186-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u201
{
	z-index: 32;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 728px;
}

#u362
{
	z-index: 36;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 955px;
}

#u362_img
{
	margin-right: -4px;
	margin-bottom: -4px;
}

#u515-4
{
	z-index: 64;
	width: 75px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 817px;
}

#u515-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u515-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u516
{
	z-index: 68;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 817px;
}

#u193
{
	z-index: 33;
	width: 920px;
	height: 37px;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#pu318
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -1px;
}

#u318
{
	z-index: 34;
	width: 920px;
	height: 330px;
	position: relative;
	margin-right: -10000px;
}

#u333
{
	z-index: 35;
	width: 441px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 253px;
}

#u366
{
	z-index: 38;
	width: 200px;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 752px;
}

#u352-29
{
	z-index: 71;
	width: 385px;
	min-height: 278px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 261px;
}

#pu441
{
	width: 0.01px;
	margin-left: 20px;
}

#u441
{
	z-index: 55;
	width: 920px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
}

#u442-4
{
	z-index: 56;
	width: 376px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 301px;
}

#pu437-4
{
	width: 0.01px;
	margin-left: 158px;
	margin-top: 15px;
}

#u437-4
{
	z-index: 39;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 50px;
}

#u438-4
{
	z-index: 43;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 213px;
}

#u439-4
{
	z-index: 47;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 368px;
}

#u440-4
{
	z-index: 51;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 523px;
}

#u531
{
	z-index: 70;
	width: 654px;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
}

#u522
{
	z-index: 69;
	width: 88px;
	min-height: 21px;
	position: fixed;
	bottom: -5px;
	left: 0px;
}

#u450-4
{
	z-index: 60;
	width: 139px;
	min-height: 16px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: -75px;
}

#u450-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 139px;
	margin: 0px 0px 0px -75px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center bottom fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}


