.version.maps /* version checker */
{
	color: #0000F0;
	background-color: #58935D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.59043850335036px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu467
{
	width: 0.01px;
	margin-left: -100px;
}

#u467
{
	z-index: 2;
	height: 98px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u467-bw
{
	z-index: 2;
	height: 98px;
}

#u471
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 110px;
}

#u471_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u475-4
{
	z-index: 5;
	width: 132px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 201px;
}

#u487-4
{
	z-index: 9;
	width: 81px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 372px;
}

#u487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u487-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u486-4
{
	z-index: 13;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 452px;
}

#u486-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u484
{
	z-index: 17;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 452px;
}

#u476-4
{
	z-index: 18;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 539px;
}

#u486-4.MuseLinkActive,#u476-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u476-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u479
{
	z-index: 22;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 539px;
}

#u465-4
{
	z-index: 23;
	width: 103px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 626px;
}

#u465-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u465-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u480
{
	z-index: 27;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 626px;
}

#u469-4
{
	z-index: 28;
	width: 90px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 728px;
}

#u469-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u469-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u482
{
	z-index: 32;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 728px;
}

#u473
{
	z-index: 35;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 955px;
}

#u473_img
{
	margin-right: -4px;
	margin-bottom: -4px;
}

#u517-4
{
	z-index: 60;
	width: 75px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 817px;
}

#u517-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u517-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u518
{
	z-index: 64;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 817px;
}

#u493
{
	z-index: 33;
	width: 920px;
	height: 37px;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#pu485
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -1px;
}

#u485
{
	z-index: 34;
	width: 920px;
	height: 330px;
	position: relative;
	margin-right: -10000px;
}

#u488
{
	z-index: 37;
	width: 200px;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 752px;
}

#u505
{
	z-index: 59;
	width: 400px;
	min-height: 304px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 260px;
}

#pu492
{
	width: 0.01px;
	margin-left: 20px;
}

#u492
{
	z-index: 54;
	width: 920px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
}

#u535-4
{
	z-index: 67;
	width: 376px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 301px;
}

#pu481-4
{
	width: 0.01px;
	margin-left: 158px;
	margin-top: 15px;
}

#u481-4
{
	z-index: 38;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 50px;
}

#u470-4
{
	z-index: 42;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 213px;
}

#u483-4
{
	z-index: 46;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 368px;
}

#u468-4
{
	z-index: 50;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 523px;
}

#u533
{
	z-index: 66;
	width: 654px;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
}

#u524
{
	z-index: 65;
	width: 88px;
	min-height: 13px;
	position: fixed;
	bottom: -5px;
	left: 0px;
}

#u466-4
{
	z-index: 55;
	width: 139px;
	min-height: 16px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: -75px;
}

#u466-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 139px;
	margin: 0px 0px 0px -75px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center bottom fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 64px;
}

