#u192
{
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.75);
	background-color: #0071BC;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 0px 100px 0px 100px ;
}

#u192::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 0px 100px 0px 100px ;
	box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75), inset -1px -1px 3px rgba(0,0,0,0.75);
}

#u187-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: nixie-one, serif;
	font-weight: 400;
}

#u196-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u196-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u189-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-indent: 4px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u196-4.MuseLinkActive,#u189-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u194-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-indent: -1px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u189-4.MuseLinkActive,#u194-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u191-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u194-4.MuseLinkActive,#u191-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u186-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-indent: -2px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u191-4.MuseLinkActive,#u186-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u515-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u186-4.MuseLinkActive,#u515-4:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u515-4.MuseLinkActive
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 3px;
}

#u199,#u202,#u195,#u201,#u516
{
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u193
{
	border-color: #0071BC;
	background-color: #0071BC;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 0px 45px 0px 0px ;
}

#u193::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 0px 45px 0px 0px ;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u318
{
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 0px 0px 45px 0px ;
}

#u333
{
	background-color: #0071BC;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 0px 48px 0px 0px ;
}

#u441
{
	border-color: #0071BC;
	background-color: #0071BC;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 0px 45px 0px 45px ;
}

#u441::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 0px 45px 0px 45px ;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u442-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u366,#u531,#u522
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u437-4,#u438-4,#u439-4,#u440-4,#u450-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u203,#u362,#u450-4:hover
{
	background-color: transparent;
}

#u450-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}


