.version.rozklad2 /* version checker */
{
	color: #0000E6;
	background-color: #2C3ED7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 676.8839180567011px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 28px;
	width: 0.01px;/* should not cover content below */
}

#pu87
{
	width: 0.01px;
	margin-left: -100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u87,#u87-bw
{
	z-index: 2;
	height: 98px;
}

#u100
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 110px;
}

#u100_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u106-4
{
	z-index: 5;
	width: 130px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 201px;
}

#u112-4
{
	z-index: 9;
	width: 81px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 372px;
}

#u112-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u112-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 31px -10000px 0px 0px;
}

#u125-4
{
	z-index: 13;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 452px;
}

#u125-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u126
{
	z-index: 17;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 452px;
}

#u127-4
{
	z-index: 18;
	width: 88px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 539px;
}

#u125-4.MuseLinkActive,#u127-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u127-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 88px;
	margin: 31px -10000px 0px 0px;
}

#u128
{
	z-index: 22;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 539px;
}

#u129-4
{
	z-index: 23;
	width: 103px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 626px;
}

#u129-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u129-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 103px;
	margin: 31px -10000px 0px 0px;
}

#u130
{
	z-index: 27;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 626px;
}

#u131-4
{
	z-index: 28;
	width: 90px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 728px;
}

#u131-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u131-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 31px -10000px 0px 0px;
}

#u132
{
	z-index: 32;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 728px;
}

#u359
{
	z-index: 97;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 955px;
}

#u359_img
{
	margin-right: -4px;
	margin-bottom: -4px;
}

#u513-4
{
	z-index: 109;
	width: 75px;
	min-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 817px;
}

#u513-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u513-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 31px -10000px 0px 0px;
}

#u514
{
	z-index: 113;
	width: 1px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 817px;
}

#pu171
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 11px;
}

#u171
{
	z-index: 33;
	width: 920px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
}

#u172-6
{
	z-index: 34;
	width: 73px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 344px;
}

#u172-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u172-6.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 73px;
	margin: 6px -10000px 0px 0px;
}

#u173
{
	z-index: 40;
	width: 1px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 416px;
}

#u174-6
{
	z-index: 41;
	width: 77px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 416px;
}

#u174-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 77px;
	margin: 6px -10000px 0px 0px;
}

#u174-6.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 77px;
	margin: 6px -10000px 0px 0px;
}

#u175
{
	z-index: 47;
	width: 1px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 492px;
}

#u176-6
{
	z-index: 48;
	width: 79px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 492px;
}

#u176-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 79px;
	margin: 6px -10000px 0px 0px;
}

#u176-6.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 79px;
	margin: 6px -10000px 0px 0px;
}

#pu283
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -1px;
}

#u283
{
	z-index: 54;
	width: 920px;
	height: 330px;
	position: relative;
	margin-right: -10000px;
}

#u284-5
{
	z-index: 55;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 25px;
}

#u285-5
{
	z-index: 60;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 163px;
}

#u286-5
{
	z-index: 65;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 301px;
}

#u287-5
{
	z-index: 70;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 439px;
}

#u288-5
{
	z-index: 75;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 577px;
}

#u289-5
{
	z-index: 80;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 715px;
}

#u290
{
	z-index: 85;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 25px;
}

#u291
{
	z-index: 86;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 163px;
}

#u292
{
	z-index: 87;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 301px;
}

#u293
{
	z-index: 88;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 439px;
}

#u294
{
	z-index: 89;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 577px;
}

#u295
{
	z-index: 90;
	width: 113px;
	height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 715px;
}

#u296-5
{
	z-index: 91;
	width: 113px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 25px;
}

#u297
{
	z-index: 96;
	width: 113px;
	height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 25px;
}

#u298-9
{
	z-index: 132;
	width: 103px;
	min-height: 171px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 30px;
}

#u299-9
{
	z-index: 141;
	width: 103px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 168px;
}

#u300-9
{
	z-index: 150;
	width: 103px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 306px;
}

#u301-9
{
	z-index: 159;
	width: 103px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 444px;
}

#u302-11
{
	z-index: 168;
	width: 103px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 582px;
}

#u302-2
{
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u303-5
{
	z-index: 179;
	width: 103px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 720px;
}

#u304-5
{
	z-index: 184;
	width: 103px;
	min-height: 72px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 12px;
	line-height: 14px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 30px;
}

#u299,#u299-5,#u299-7,#u301,#u301-5,#u301-7,#u302,#u302-3,#u302-7,#u302-9,#u303,#u304
{
	color: #FFFFFF;
}

#u299-3,#u301-3,#u302-5,#u303-3,#u304-3
{
	color: #C1272D;
}

#pu417
{
	width: 0.01px;
	margin-left: 20px;
}

#u417
{
	z-index: 100;
	width: 920px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
}

#u418-4
{
	z-index: 101;
	width: 376px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 301px;
}

#pu368
{
	width: 0.01px;
	margin-left: 158px;
	margin-top: 15px;
}

#u368
{
	z-index: 99;
	width: 200px;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 739px;
}

#u419-4
{
	z-index: 115;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 50px;
}

#u420-4
{
	z-index: 119;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 213px;
}

#u421-4
{
	z-index: 123;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 368px;
}

#u422-4
{
	z-index: 127;
	width: 82px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 523px;
}

#u526
{
	z-index: 131;
	width: 654px;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
}

#u520
{
	z-index: 114;
	width: 88px;
	min-height: 23px;
	position: fixed;
	bottom: -5px;
	left: 0px;
}

#u449-4
{
	z-index: 105;
	width: 139px;
	min-height: 16px;
	position: fixed;
	bottom: 12px;
	left: 50%;
	margin-left: -75px;
}

#u449-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 139px;
	margin: 0px 0px 0px -75px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center bottom fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

